@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; 
    }

    h1 {
        font-size: 32px; 
    }

    .main_text p {
        font-size: 16px; 
    }

    .about_img img, .main_img img .carousel-item {
        height: auto; 
        max-width: 100%; 
    }

    .work_div img {
        height: 80px; 
        width: 80px;
    }

    .btn {
        padding: 10px 20px; 
        margin: 10px;
        font-size: 14px;
    }
}

/* Для планшетов */
@media (min-width: 768px) and (max-width: 992px) {

    .navbar-nav {
        flex-direction: column; 
    }

    h1 {
        font-size: 32px; 
    }

    .main_text p {
        font-size: 16px; 
    }

    .about_img img, .main_img img .carousel-item {
        height: auto; 
        max-width: 100%; 
    }

    .work_div img {
        height: 80px; 
        width: 80px;
    }

    .btn {
        padding: 10px 20px; 
        margin: 10px;
        font-size: 14px;
    }
}


