
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body{
    overflow-x: hidden;
    font-family: 'Monsterrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    font-family:'Roboto Slab';
    color: #000;
}

section{
    padding-top: 120px;
}

.btn{
    padding: 15px 30px;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;

}

/*шапка*/
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.navbar{
    background: #fff;
    overflow-x: hidden;
    
}

.nav-item{
    margin-right: 40px;
}
.navbar-brand{
    width: 40px;
}
.navbar-toggler {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
/*Главная*/
h1{
    font-size: 48px;
    max-width: 380px;
    text-align: left;
    font-weight: 400;
}
.main_text{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main_text p{
    margin: 40px 0px;
    font-size: 20px;
    font-size: 20px;
    max-width: 580px;

}

.main_img img{
    display:  block  ;
    height: auto; /* Изображения адаптируются к экрану */
    max-width: 100%; 
    overflow-x: hidden;
}

/*about*/

.name{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.name img{
    position: absolute;
    left: -50px;
    z-index: -1;
}
.about_text p{
    padding-top: 20pt;
}

/*работал*/

#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.work_container p{
    margin-top: 20px;

}
.work_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.work_div img{
    margin-top: 20px;
    height: 100px;
    width: 100px;
}
.work_div h4{
    font-size: 24px;
    max-width: 260px;
    text-align: center;
}

/*footer*/
footer{
    padding: 20px 0;
}
.footer_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-block {
    align-items: center;
}

.carousel-control-prev-icon, 
        .carousel-control-next-icon {
            background-color: black !important; 
        }
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.d-block {
    display: block; /* Убедитесь, что элемент отображается как блок */
    max-width: 100%; /* Ограничьте максимальную ширину */
    margin-left: auto; /* Автоматический отступ слева */
    margin-right: auto; /* Автоматический отступ справа */
}
